[submodule "third_party/classicube"]
	path = third_party/classicube
	url = https://github.com/ClassiCube/ClassiCube.git
[submodule "third_party/sdl"]
	path = third_party/sdl
	url = https://github.com/libsdl-org/SDL
